USE [master]
GO
/****** Object:  Database [ShopManager]    Script Date: 2/16/2025 8:01:19 PM ******/
CREATE DATABASE [ShopManager]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ShopManager', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ShopManager.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ShopManager_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ShopManager_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ShopManager].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ShopManager]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 2/16/2025 8:01:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductCategories]    Script Date: 2/16/2025 8:01:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductCategories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_ProductCategories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShopClients]    Script Date: 2/16/2025 8:01:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShopClients](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](max) NOT NULL,
	[DateOfBirth] [date] NOT NULL,
	[RegistrationDate] [date] NOT NULL,
 CONSTRAINT [PK_ShopClients] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShopProducts]    Script Date: 2/16/2025 8:01:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShopProducts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](max) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Price] [float] NOT NULL,
	[CategoryId] [int] NOT NULL,
 CONSTRAINT [PK_ShopProducts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShopProductShopPurchase]    Script Date: 2/16/2025 8:01:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShopProductShopPurchase](
	[ProductsId] [int] NOT NULL,
	[PurchasesId] [int] NOT NULL,
 CONSTRAINT [PK_ShopProductShopPurchase] PRIMARY KEY CLUSTERED 
(
	[ProductsId] ASC,
	[PurchasesId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShopPurchases]    Script Date: 2/16/2025 8:01:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShopPurchases](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Date] [datetime2](7) NOT NULL,
	[Number] [int] NOT NULL,
	[ClientId] [int] NOT NULL,
 CONSTRAINT [PK_ShopPurchases] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250216140758_Create', N'9.0.2')
GO
SET IDENTITY_INSERT [dbo].[ProductCategories] ON 

INSERT [dbo].[ProductCategories] ([Id], [Name]) VALUES (1, N'Бакалія')
INSERT [dbo].[ProductCategories] ([Id], [Name]) VALUES (2, N'Канцелярські товари')
INSERT [dbo].[ProductCategories] ([Id], [Name]) VALUES (3, N'Рослинні олії')
SET IDENTITY_INSERT [dbo].[ProductCategories] OFF
GO
SET IDENTITY_INSERT [dbo].[ShopClients] ON 

INSERT [dbo].[ShopClients] ([Id], [FullName], [DateOfBirth], [RegistrationDate]) VALUES (1, N'Кондратюк Юлія Сергіївна', CAST(N'1990-01-14' AS Date), CAST(N'2024-12-06' AS Date))
INSERT [dbo].[ShopClients] ([Id], [FullName], [DateOfBirth], [RegistrationDate]) VALUES (2, N'Микулин Арсен Петрович', CAST(N'1995-02-16' AS Date), CAST(N'2025-01-06' AS Date))
INSERT [dbo].[ShopClients] ([Id], [FullName], [DateOfBirth], [RegistrationDate]) VALUES (3, N'Шевченко Марія Василівна', CAST(N'1996-02-16' AS Date), CAST(N'2025-02-14' AS Date))
SET IDENTITY_INSERT [dbo].[ShopClients] OFF
GO
SET IDENTITY_INSERT [dbo].[ShopProducts] ON 

INSERT [dbo].[ShopProducts] ([Id], [Code], [Name], [Price], [CategoryId]) VALUES (1, N'DR-123', N'Цукор ваговий, 1кг', 44.5, 1)
INSERT [dbo].[ShopProducts] ([Id], [Code], [Name], [Price], [CategoryId]) VALUES (2, N'FT-123', N'Ручка гелієва', 15.25, 2)
INSERT [dbo].[ShopProducts] ([Id], [Code], [Name], [Price], [CategoryId]) VALUES (3, N'QE-123', N'Олія соняшникова, 1л', 55.75, 3)
SET IDENTITY_INSERT [dbo].[ShopProducts] OFF
GO
INSERT [dbo].[ShopProductShopPurchase] ([ProductsId], [PurchasesId]) VALUES (1, 1)
INSERT [dbo].[ShopProductShopPurchase] ([ProductsId], [PurchasesId]) VALUES (2, 1)
INSERT [dbo].[ShopProductShopPurchase] ([ProductsId], [PurchasesId]) VALUES (3, 2)
GO
SET IDENTITY_INSERT [dbo].[ShopPurchases] ON 

INSERT [dbo].[ShopPurchases] ([Id], [Date], [Number], [ClientId]) VALUES (1, CAST(N'2025-02-15T16:27:11.0336414' AS DateTime2), 1, 1)
INSERT [dbo].[ShopPurchases] ([Id], [Date], [Number], [ClientId]) VALUES (2, CAST(N'2025-02-14T16:27:11.0336414' AS DateTime2), 2, 1)
INSERT [dbo].[ShopPurchases] ([Id], [Date], [Number], [ClientId]) VALUES (3, CAST(N'2025-02-15T16:27:11.0336414' AS DateTime2), 3, 2)
SET IDENTITY_INSERT [dbo].[ShopPurchases] OFF
GO
/****** Object:  Index [IX_ShopProducts_CategoryId]    Script Date: 2/16/2025 8:01:19 PM ******/
CREATE NONCLUSTERED INDEX [IX_ShopProducts_CategoryId] ON [dbo].[ShopProducts]
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ShopProductShopPurchase_PurchasesId]    Script Date: 2/16/2025 8:01:19 PM ******/
CREATE NONCLUSTERED INDEX [IX_ShopProductShopPurchase_PurchasesId] ON [dbo].[ShopProductShopPurchase]
(
	[PurchasesId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ShopPurchases_ClientId]    Script Date: 2/16/2025 8:01:19 PM ******/
CREATE NONCLUSTERED INDEX [IX_ShopPurchases_ClientId] ON [dbo].[ShopPurchases]
(
	[ClientId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ShopProducts]  WITH CHECK ADD  CONSTRAINT [FK_ShopProducts_ProductCategories_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[ProductCategories] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ShopProducts] CHECK CONSTRAINT [FK_ShopProducts_ProductCategories_CategoryId]
GO
ALTER TABLE [dbo].[ShopProductShopPurchase]  WITH CHECK ADD  CONSTRAINT [FK_ShopProductShopPurchase_ShopProducts_ProductsId] FOREIGN KEY([ProductsId])
REFERENCES [dbo].[ShopProducts] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ShopProductShopPurchase] CHECK CONSTRAINT [FK_ShopProductShopPurchase_ShopProducts_ProductsId]
GO
ALTER TABLE [dbo].[ShopProductShopPurchase]  WITH CHECK ADD  CONSTRAINT [FK_ShopProductShopPurchase_ShopPurchases_PurchasesId] FOREIGN KEY([PurchasesId])
REFERENCES [dbo].[ShopPurchases] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ShopProductShopPurchase] CHECK CONSTRAINT [FK_ShopProductShopPurchase_ShopPurchases_PurchasesId]
GO
ALTER TABLE [dbo].[ShopPurchases]  WITH CHECK ADD  CONSTRAINT [FK_ShopPurchases_ShopClients_ClientId] FOREIGN KEY([ClientId])
REFERENCES [dbo].[ShopClients] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ShopPurchases] CHECK CONSTRAINT [FK_ShopPurchases_ShopClients_ClientId]
GO
USE [master]
GO
